.bg-image {
    background-image: url('assets/images/login/login_bg_02.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-height: 100vh;
}

.custom-row {
    background-color: #ffffff !important;
}

.custom-btn {
    background-color: rgb(135 213 245) !important;
    border: 1px solid rgb(135 213 245) !important;
}