<div class="page-wrapper">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-12">
                <div class="login-card login-dark">
                    <div>
                        <div>
                            <a class="logo" [routerLink]="['/dashboard']">
                                <img class="img-fluid for-light" src="assets/images/logo/black-login-logo.png" alt="looginpage">
                            </a>
                        </div>
                        <div class="login-main">
                            <form class="theme-form" (ngSubmit)="onSubmit()">
                                <!-- Email Step -->
                                <ng-template [ngIf]="currentStep === 'email'">
                                    <h4>Reset Your Password</h4>
                                    <div class="form-group">
                                        <label class="col-form-label">Enter Email Id</label>
                                        <div class="row">
                                            <div class="col-12 col-sm-12">
                                                <input [(ngModel)]="email" name="email" class="form-control mb-1" type="email" placeholder="Enter Email" required>
                                            </div>
                                            <div class="col-12">
                                                <div class="text-end">
                                                    <button class="btn btn-primary btn-block m-t-10" type="button" (click)="sendOtp()">Send</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>

                                <!-- OTP Step -->
                                <ng-template [ngIf]="currentStep === 'otp'">
                                    <h4>Verify OTP</h4>
                                    <div class="form-group">
                                        <label class="col-form-label pt-0">Enter OTP</label>
                                        <div class="row">
                                            <div class="col">
                                                <input [(ngModel)]="otp" name="otp" class="form-control text-center opt-text" type="text" maxlength="6" required>
                                            </div>
                                        </div>
                                        <div class="mt-4 mb-4">
                                            <span class="reset-password-link">If you don't receive OTP? <a class="btn-link text-danger" href="#" (click)="resendOtp()">Resend</a></span>
                                        </div>
                                    </div>
                                    <div class="text-end">
                                        <button class="btn btn-primary btn-block m-t-10" type="button" (click)="verifyOtp()">Verify OTP</button>
                                    </div>
                                </ng-template>

                                <!-- Password Reset Step -->
                                <ng-template [ngIf]="currentStep === 'password'">
                                    <h4>Create Your Password</h4>
                                    <div class="form-group">
                                        <label class="col-form-label">New Password</label>
                                        <div class="form-input position-relative">
                                            <input [(ngModel)]="newPassword" name="newPassword" class="form-control" type="password" required placeholder="*********" [type]="showPassword ? 'text' : 'password'">
                                            <div class="show-hide" (click)="togglePasswordVisibility()">
                                                <span>{{ showPassword ? 'Hide' : 'Show' }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label">Retype Password</label>
                                        <input [(ngModel)]="confirmPassword" name="confirmPassword" class="form-control" type="password" required placeholder="*********">
                                    </div>
                                    <div class="form-group mb-0 checkbox-checked">
                                        <div class="form-check checkbox-solid-info">
                                            <input class="form-check-input" id="solid6" type="checkbox" [(ngModel)]="rememberPassword" name="rememberPassword">
                                            <label class="form-check-label" for="solid6">Remember password</label>
                                        </div>
                                        <button class="btn btn-primary btn-block w-100 mt-3" type="button" (click)="resetPassword()">Done</button>
                                    </div>
                                </ng-template>

                                <p class="mt-4 mb-0 text-center" *ngIf="currentStep === 'password'">Already have a password?<a class="ms-2" [routerLink]="['/authentication/simple']">Sign in</a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
