<div class="container invoice-2">
  <div id="print-section">
    <div class="card">
      <div class="card-body">
        <table class="table-wrapper table-responsive table-borderless theme-scrollbar">
          <tbody>
            <tr>
              <td>
                <table class="table-responsive table-borderless" style="width: 100%;">
                  <tbody>
                    <tr style="padding: 28px 0 5px;" class="row">
                      <td class="col-7">
                        <h4 style="font-size:43px; font-weight: 600;color: #87d5f5; margin:0;">Proforma INVOICE</h4>
                        <ul style="list-style: none; display: flex; gap:15px; padding: 0; margin: 20px 0;">
                          <li> <span style=" font-size: 16px; font-weight: 600; opacity: 0.8;">Invoice to :</span></li>
                          <li> <span
                              style="font-weight:600;font-size: 16px; color: #87d5f5; display: block; margin-bottom: 8px;">Brooklyn
                              Simmons</span><span
                              style="width: 75%; display:block; line-height: 1.5;  font-size: 16px; font-weight: 400;opacity: 0.8;">2972
                              Westheimer Rd. Santa Ana, Illinois 85486 </span><span
                              style="line-height:1.9;  font-size: 16px; font-weight: 400;opacity: 0.8; display:block;">Phone
                              : (219) 555-0114</span><span
                              style="line-height:1.7;  font-size: 16px; font-weight: 400;opacity: 0.8; display:block;">Email
                              : yourmail&#64;themesforest.com</span><span
                              style="line-height:1.7;  font-size: 16px; font-weight: 400;opacity: 0.8; display:block;">Website:
                              www.websites.com</span>
                            <span
                              style="line-height:1.7;  font-size: 16px; font-weight: 400;opacity: 0.8; display:block;">GST:
                              27AAKCB2566R1ZX</span>
                          </li>
                        </ul>
                      </td>
                      <td class="col-5">
                        <img class="for-light" style="height:50px; margin-bottom: 0;"
                          src="assets/images/logo/Grey-landing-logo.png" alt="logo">
                        <ul style="list-style: none; display: -webkit-inline-box; margin-right:15px; padding: 0; margin: 20px 0;">
                          <li> <span style=" font-size: 16px; font-weight: 600; opacity: 0.8;">Invoice from :</span>
                          </li>
                          <li> <span
                              style="font-weight:600;font-size: 16px; color: #87d5f5; display: block; margin-bottom: 8px;">BALLARD
                              PIER PRIVATE LIMITED</span><span
                              style="width: 75%; display:block; line-height: 1.5;  font-size: 16px; font-weight: 400;opacity: 0.8;">C
                              WING, OFFICE NO. 801, GODREJ COLESIUM
                              SION
                              EAST, Mumbai 400022 </span><span
                              style="line-height:1.9;  font-size: 16px; font-weight: 400;opacity: 0.8; display:block;">Phone
                              : </span><span
                              style="line-height:1.7;  font-size: 16px; font-weight: 400;opacity: 0.8; display:block;">Email
                              : support&#64;bppl.com</span>
                            <span
                              style="line-height:1.7;  font-size: 16px; font-weight: 400;opacity: 0.8; display:block;">Website:
                              www.bppl.com</span>
                            <span
                              style="line-height:1.7;  font-size: 16px; font-weight: 400;opacity: 0.8; display:block;">GST:
                              27AAKCB2566R1ZX</span>
                            <span
                              style="line-height:1.7;  font-size: 16px; font-weight: 400;opacity: 0.8; display:block;">PAN
                              :
                              AAKCB2566R</span>
                          </li>
                        </ul>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <table class="table-responsive table-borderless"
                  style="width: 100%; border-spacing: 4px; margin-bottom: 20px;">
                  <tbody>
                    <tr>
                      <td style="background: rgba(67, 185, 178 , 0.1);padding: 15px 25px;">
                        <p
                          style="font-size:16px; font-weight:500; color:#87d5f5; opacity:0.8; margin:0;line-height: 2;">
                          Date :</p><span style="font-size: 16px; font-weight: 600;">10 Mar, 2023</span>
                      </td>
                      <td style="background: rgba(67, 185, 178 , 0.1);padding: 15px 25px;">
                        <p
                          style="font-size:16px; font-weight:500; color:#87d5f5; opacity:0.8; margin:0;line-height: 2;">
                          Invoice No :</p><span style="font-size: 16px; font-weight: 600;">INV-proforma</span>
                      </td>
                      <td style="background: rgba(67, 185, 178 , 0.1);padding: 15px 25px;">
                        <p
                          style="font-size:16px; font-weight:500; color:#87d5f5; opacity:0.8; margin:0;line-height: 2;">
                          Account No :</p><span style="font-size: 16px; font-weight: 600;">0000000000000</span>
                      </td>
                      <td style="background: rgba(67, 185, 178 , 0.1);padding: 15px 25px;">
                        <p
                          style="font-size:16px; font-weight:500; color:#87d5f5; opacity:0.8; margin:0;line-height: 2;">
                          Due Amount :</p><span style="font-size: 16px; font-weight: 600;">0</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <app-invoice4-table></app-invoice4-table>
              </td>
            </tr>
            <tr
              style="height:3px; width: 100%; background: linear-gradient(90deg, #87d5f5 20.61%, #0DA759 103.6%); display:block; margin-top: 6px;">
            </tr>
            <tr>
              <td>
                <table style="width:100%;">
                  <tbody>
                    <tr style="display:flex; justify-content: space-between; margin:16px 0 24px 0; align-items: end;">
                      <span>BPPL invoice message</span>
                      <td>
                        <ul style="padding: 0; margin: 0; list-style: none;">
                          <li style="display:flex; padding-bottom: 16px;"> <span
                              style="display: block; width: 95px; ">Subtotal </span><span
                              style="display: block; width:25px;">:</span><span
                              style="display: block;  width: 95px; color: #87d5f5; opacity: 0.9; font-weight:600;">$6100.00</span>
                          </li>
                          <li style="display:flex; padding-bottom: 16px;"> <span
                              style="display: block; width: 95px; ">Tax</span><span style="display: block; width:25px;">
                              :</span><span
                              style="display: block; width: 95px;color: #87d5f5; opacity: 0.9; font-weight:600;">0</span>
                          </li>
                          <li style="display:flex; padding-bottom: 20px;"> <span
                              style="display: block; width: 95px; ">Discount </span><span
                              style="display: block; width:25px;"> :</span><span
                              style="display: block; width: 95px;color: #87d5f5; opacity: 0.9; font-weight:600;">0</span>
                          </li>
                          <li style="display:flex; align-items: center;"> <span
                              style="display: block; width: 95px; ">Total Due</span><span
                              style="display: block; color: #87d5f5; opacity: 0.9; font-weight:600; padding: 12px 25px; border-radius: 5px; background: rgba(67, 185, 178 , 0.1); font-size: 16px;">$6120.00</span>
                          </li>
                        </ul>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr style="width: 100%; display: flex; justify-content: space-between;">
              <td> <img src="assets/images/email-template/invoice-3/sign.png" alt="sign"><span
                  style="color: #87d5f5;display: block;font-size: 16px;font-weight: 600;">Authorized person name</span></td>
              <td> <span style="display: flex; justify-content: end; gap: 15px;">
                  <button type="button"
                    style="background: rgba(67, 185, 178, 1); color:rgba(255, 255, 255, 1);border-radius: 10px;padding: 18px 27px;font-size: 16px;font-weight: 600;outline: 0;border: 0; text-decoration: none;"
                    printSectionId="print-section" ngxPrint>Print Invoice<i class="icon-arrow-right"
                      style="font-size:13px;font-weight:bold; margin-left: 10px;"></i>
                  </button>
                  <a style="background: rgba(67, 185, 178, 0.1);color: rgba(67, 185, 178, 1);border-radius: 10px;padding: 18px 27px;font-size: 16px;font-weight: 600;outline: 0;border: 0; text-decoration: none;"
                    href="javascript:void(0)" download="">Generate JOB ID<i class="icon-arrow-right"
                      style="font-size:13px;font-weight:bold; margin-left: 10px;">
                    </i>
                  </a>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>