<form class="search-form mb-0" (clickOutside)="clickOutside()">
    <div class="input-group">
        <span class="input-group-text pe-0">
            <svg class="search-bg svg-color">
                <use href="assets/svg/iconly-sprite.svg#Search"></use>
            </svg>
        </span>
        <input class="form-control" type="text" [placeholder]="placeholder" [class.open]="open" [(ngModel)]="text"
            [ngModelOptions]="{ standalone: true }" (keyup)="searchTerm(text)" name="q" title="" autocomplete="off">
    </div>
    @if(menuItems.length){
    <div class="Typeahead-menu custom-scrollbar" [class.is-open]="searchResult" id="search-outer" [class.open]="open">
        @for(menuItem of menuItems | slice : 0 : 8; track menuItem){
        <div class="ProfileCard u-cf cursor-pointer">
            <div class="ProfileCard-details">
                    <a class="row" (click)="nevigate(menuItem)">
                        <span class="col custome-font-size">Booking No: {{menuItem.port_call_no ?? ''}}</span>
                        <span class="col custome-font-size">CRO's No: {{menuItem.vcn_no ?? ''}}</span>
                        <span class="col custome-font-size">BL's No: {{menuItem.vcn_no ?? ''}}</span>
                    </a>
            </div>
        </div>
        }
    </div>
    }
</form>