<!-- <div class="container-fluid project-dashboard">
    <div class="row">

        <div class="col-xl-8">
            <div class="row">
                <div class="col-md-12">
                    <div class="card list-card">
                        <div class="card-header pb-0">
                            <h4>To-do list</h4>
                        </div>
                        <div class="card-body"> -->
                            <ul>
                                <li class="list-item">
                                    <div class="row">

                                        <div class="col-xl-12">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="d-flex align-items-center">
                                                        <div class="form-check checkbox checkbox-solid-primary">
                                                            <input 
                                                            class="form-check-input big-checkbox"
                                                            type="checkbox"
                                                            [id]="name"
                                                            [checked]="value"
                                                            [disabled]="disable"
                                                            (change)="onCheckboxChange($event,name)"  
                                                            >
                                                            <label class="form-check-label" for="{{ name}}"></label>
                                                        </div>
                                                        <h5 class="f-w-500">{{ label }}</h5>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div>
                                                        <button class="btn edge-btn f-12 w-100 btn-light-primary">{{ description }}</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        <!-- </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
