<div class="container-fluid p-0">
    <div class="row m-0">
        <div class="col-12 p-0">
            <div class="login-card login-dark">
                <div>
                    <div>
                        <a class="logo" [routerLink]="['/dashboard']">
                            <img class="img-fluid for-light" src="assets/images/logo/black-login-logo.png" alt="looginpage">
                        </a>
                    </div>
                    <div class="login-main">
                        <form class="theme-form" [formGroup]="resetForm">
                            <h3 class="text-center">Reset Your Passowrd</h3>
                            <!-- <p class="text-center">Enter your username &amp; password to login</p> -->
                            <div class="form-group">
                                <label class="col-form-label">Old Password</label>
                                <!-- <input class="form-control" type="old_password" required="" placeholder="Old Passowrd"
                                    formControlName="old_password"> -->
                                <div class="form-input position-relative">
                                <input class="form-control" [type]="showOld ? 'text' : 'password'" type="password"
                                    name="login[old_password]" required="" placeholder="*********"
                                    formControlName="old_password">
                                    @if(!showOld){
                                    <div class="show-hide" (click)="showOldPassword()"><span class="show"> </span></div>
                                    }@else{
                                    <div class="show-hide" (click)="showOldPassword()"><span class="Hide"></span></div>
                                    }
                                @if(resetForm.controls['old_password'].touched &&
                                resetForm.controls['old_password'].errors?.['required']){
                                <div class="text text-danger mt-1"> Passowrd is required</div>
                                }
                                @if(resetForm.controls['old_password'].touched &&
                                resetForm.controls['old_password'].errors?.['old_password']){
                                <div class="text text-danger mt-1">Invalid Password</div>
                                }
                            </div>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Password</label>
                                <div class="form-input position-relative">
                                    <input class="form-control" [type]="show ? 'text' : 'password'" type="password"
                                        name="login[password]" required="" placeholder="*********"
                                        formControlName="password">
                                    @if(!show){
                                    <div class="show-hide" (click)="showPassword()"><span class="show"> </span></div>
                                    }@else{
                                    <div class="show-hide" (click)="showPassword()"><span class="Hide"></span></div>
                                    }
                                    @if(resetForm.controls['password'].touched &&
                                    resetForm.controls['password'].errors?.['required']){
                                    <div class="text text-danger mt-1">Password is required </div>
                                    }
                                </div>
                            </div>

                            <div class="text-end mt-3"><button class="btn btn-primary btn-block w-100 text-white"
                                    [disabled]="!resetForm.valid" (click)="updatePassword()">Update</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>