/* Styles for the custom dialog container */
.custom-dialog-container {
    max-height: 90vh;    // Ensure the dialog doesn't exceed 90% of the viewport height
    overflow: auto;      // Enable scrolling if content exceeds the dialog height
    display: flex;
    flex-direction: column;
  }
  
  .custom-dialog-container .mat-dialog-content {
    overflow: auto;      // Handle overflow within the content area
  }
  
  .custom-dialog-container .mat-dialog-actions {
    padding: 8px;       // Customize padding if necessary
  }