::ng-deep .ng-select .ng-select-container {
    border: none !important;
    color: var(--black) !important;
    border-radius: 5px !important;
    font-family: "Outfit", sans-serif !important;
    font-size: 14px !important;
    background-color: #F4F5F8 !important;
}